
// Font
$font-size-base: 18px;
$font-size-small: 16px;
$font-size-xsmall: 14px;
$line-height-base: 150%;

$primary-font-family: "Poppins", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$secondary-font-family: "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$third-font-family: "DM Serif Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$font-weight: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-h1: 52px;
$font-h2: 48px;
$font-h3: 45px;
$font-h4: 24px;
$font-h5: 22px;

// Colors
$white: #fff;
$black: #000;
$primary-blue: #1E266D;
$secondary-blue: #3751FF;
$light-blue: #7185FF;
$card-blue: #007AE9;
$darkest-blue :#081F32;
$dark-blue: #455880;
$gray-blue: #6E798C;
$primary-gray: #A9ABBD;
$card-gray: #6E798C;
$secondary-gray: #FAFBFF;
$light-gray: #A2ABBF;
$super-light-gray: #F8FBFF;
$primary-orange: #FBC917;
$secondary-orange: #FFD98E;
$primary-pink: #FF2E6A;
$dark-pink: #DF2157;
$secondary-pink: #F9F3FE;

// Colors blog post
$light-gray-blog-post: #73737D;
$purple-blog-post: #6166DC;




$default-color: $primary-blue;
