#overlay-menu-container {

  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;

  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;

  background-color: $white;

  .container {
    width: 40%;
    height: 90%;
    margin: 40px auto 0 ;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    h5 {
      line-height: 100%;
      margin: 40px 0 0;
    }

    ul {
      padding-bottom: 30px;
    }

  }


  .cta {
    width: 232px;
    height: 50px;
    background-color: $secondary-blue;
    border-radius: 100px;

    margin: auto 0 100px;

    display: flex;
    justify-content: center;
    align-items: center;


    a {
      color: $white;
      font-size: $font-size-small;
    }
  }

}